---
http_interactions:
- request:
    method: get
    uri: http://us4.api.mailchimp.com/1.2/?output=xml&apikey=<API KEY>&id=6ed27effda&method=listBatchSubscribe&double_optin=true&update_existing=false&replace_interests=true&batch[0][EMAIL]=bademail
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<MCAPI type="array">

        <success_count type="integer">0</success_count>

        <error_count type="integer">1</error_count>

        <errors type="array">

        <struct key="0" type="array">

        <code type="integer">502</code>

        <message type="string">Invalid Email Address: bademail</message>

        <row type="array">

        <EMAIL type="string">bademail</EMAIL>

        </row>

        </struct>

        </errors>

        </MCAPI>'
  recorded_at: Sun, 11 Mar 2012 20:27:21 GMT
recorded_with: VCR 2.0.0
