---
http_interactions:
- request:
    method: get
    uri: http://us4.api.mailchimp.com/1.2/?output=xml&apikey=<API KEY>&id=6ed27effda&method=listBatchSubscribe&double_optin=true&update_existing=false&replace_interests=true&batch[0][EMAIL]=auser%40anexample.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<MCAPI type="array">

        <success_count type="integer">1</success_count>

        <error_count type="integer">0</error_count>

        <errors type="array" />

        </MCAPI>'
  recorded_at: Sun, 18 Mar 2012 19:47:08 GMT
recorded_with: VCR 2.0.0
